.signupScreen {
  max-width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  animation-duration: 3s;
  animation: fadeIn ease 2s;
}
.signupScreen > form {
  display: grid;
  flex-direction: column;
}
.signupScreen > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  margin-bottom: 14px;
  border-radius: 0.2rem;
  border: none;
  background-color: #333;
  color: white;
}
.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.signupScreen > form {
  display: grid;
  flex-direction: column;
}
.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}
.signupScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
.signupScreen_gray {
  color: gray;
}
.signupScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
